<header role="banner">
  <nav aria-label="primary">
    <ul>
      <li><a href="/">Home</a></li>
      {% for nav in collections.primary %}
      <li>
        <a {% if page.url==nav.url %}aria-current="page"{% endif %} href="{{ nav.url }}">{{ nav.data.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</header>